/*
  Pragmatic JavaScript
  Chapter 4
  Programming Assignment

  Author:
  Date:
  Filename:
*/

/* Add your styles here */

body {
    font-family: Arial, sans-serif;
    background-color: #3f3f3f;
    margin: 0;
    padding: 20px;
}

.form-container {
    margin-bottom: 20px;
}

#movie-info {
    background: #999999;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#error-message {
    color: red;
    font-weight: bold;
}